<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addRestaurant</title>
</head>
<body>
    <form action="/addRestaurant" method="post">
        <table>
            <label>
                <input name="restaurantName" type="text"/>
            </label><br/>
            <label>
                <input name="restaurantAddress" type="text"/>
            </label><br/>
            <label>
                <input name="restaurantPhone" type="text"/>
            </label><br/>
            <label>
                <input name="discount" type="text"/>
            </label><br/>
            <input type="submit" value="提交"/><br/>
        </table>
    </form>
</body>
</html>